<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form action="" method="post">

    <div class="col-75">
      {{form.bookname.lable}}
      {{form.bookname}}
     </div>

  <div class="col-75">
    {{form.available.lable}}
    {{form.available}}
   </div>

   <p class="container my-4 col-1" onclick="sound()" role="button"
   style="font-size: medium;  margin: 24px 195px; padding: 0px 0px">
   <button id="next" class="btn btn-success">Next</button>
  </p>

  </form>
</body>
</html>